* {
  box-sizing: border-box;
}
body {
  background-color: #8e8596;
  color: #404345;
  font-size: 13px;
  font-family: 'Aref Ruqaa', serif;
  line-height: 24px;
  margin-bottom: 20px;
  -webkit-font-smoothing: antialiased;
  background: repeating-linear-gradient(to right, #8e8596, #8e8596 10px, rgba(21, 8, 17, 0.7) 10px, rgba(21, 8, 17, 0.7) 20px), url("../icons/bg.png");
}
a {
  text-decoration: none;
  cursor: default;
}
.col-1 {
  width: 8.33333333%;
}
.col-2 {
  width: 16.66666667%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33333333%;
}
.col-5 {
  width: 41.66666667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33333333%;
}
.col-8 {
  width: 66.66666667%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33333333%;
}
.col-11 {
  width: 91.66666667%;
}
.col-12 {
  width: 100%;
}
[class*="col-"] {
  float: left;
  padding: 15px;
}
.row::after {
  content: "";
  clear: both;
  display: block;
}
.container {
  margin: 0 auto;
  min-width: 936px;
  zoom: 1;
}
.header {
  background: #150811;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 25px;
}
.header .nav {
  top: 45px;
}
.footer {
  background: #150811;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 6px 0 7px 22px;
  height: 30px;
  width: 100%;
}
.title {
  color: #bc6657;
  display: inline-block;
  font-family: 'Aref Ruqaa', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  height: 50px;
  margin-left: 12px;
  padding: 8px 0 7px 12px;
}
.nav {
  background-color: rgba(21, 8, 17, 0.1);
  font-family: 'Aref Ruqaa', cursive;
  font-size: 13px;
  padding: 10px 24px;
}
.nav > a {
  color: #fff;
  padding: 20px 22px 8px 0;
  text-transform: uppercase;
}
.nav > a:hover {
  color: #bc6657;
}
.littleMessages {
  font-size: 13px;
  color: #fff;
  text-transform: capitalize;
}
.specialMessage {
  color: #bc6657;
  text-transform: none;
}
.notifyWindow {
  background-color: #150811;
  color: #fff;
  position: fixed;
  top: 25%;
  right: 40%;
  z-index: 900;
  border: 1px solid #13070f;
  border-radius: 10px;
  display: block;
  text-align: center;
  font-size: 55px;
  height: 200px;
  max-height: 200px;
  width: 350px;
  max-width: 350px;
  padding-top: 20px;
  text-transform: capitalize;
}
.notifyWindow p {
  margin-top: 20px;
  padding-top: 20px;
  font-size: 20px;
}
.bloody {
  position: fixed;
  background-color: rgba(255, 0, 0, 0.2);
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  z-index: 20;
}
.overlayThird {
  background-color: rgba(21, 8, 17, 0.9);
  color: #fff;
  position: fixed;
  width: 40%;
  height: 100%;
  top: 0px;
  right: 0px;
  z-index: 998;
  overflow: hidden;
}
.overlayThird form {
  background-color: #150811;
  margin: 10% 10%;
  position: relative;
  width: 80%;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px;
  border: 2px solid #965246;
  z-index: 999;
}
.ravenBody {
  color: rgba(255, 255, 255, 0.1);
  font-size: 45px;
  line-height: 48px;
  position: absolute;
  left: -5px;
  top: 0;
  z-index: 900;
  width: 125%;
}
.ravenBody em {
  color: rgba(255, 255, 255, 0.15);
  font-size: 48px;
}
.ravenBody small {
  color: rgba(255, 255, 255, 0.07);
  font-size: 40px;
  padding: -5px;
}
.ravenBody p {
  display: inline;
}
.noView {
  display: none;
}
.body {
  padding-top: 88px;
}
.hidden {
  visibility: hidden;
}
.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}
.hiddenFade {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}
.gameboard {
  box-sizing: border-box;
  border-spacing: 4px 2px;
  padding: 10px 10px;
}
.tilerow {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.tile {
  border: 2px solid rgba(21, 8, 17, 0.4);
  border-radius: 6px;
  float: left;
  margin: 3px;
  cursor: pointer;
  height: 150px;
  max-height: 150px;
  width: 150px;
  max-width: 150px;
  font-family: 'Aref Ruqaa', serif;
  font-size: 65px;
  text-align: center;
  padding-top: 15px;
  padding-left: 52.5px;
  overflow: hidden;
}
.cardBack {
  background-color: #442e56;
  background-image: url('../icons/Raven2_150.png');
}
.playa1 {
  color: #dbd0d3;
  background-color: #8c787d;
  background-image: url('../icons/Edgar2_150.png');
}
.playa2 {
  color: #cbb6c3;
  background-color: #a17a93;
  background-image: url('../icons/Lenore2_150.png');
}
#scoreboard {
  padding: 0;
}
.scoreboard {
  border: 1px solid #150811;
  border-radius: 10px;
  color: #2b2c30;
  display: block;
  font-size: 14px;
  height: 150px;
  max-height: 150px;
  width: 310px;
  max-width: 310px;
  padding: 0px 15px 22px 165px;
  margin: 10px 5px 5px 5px;
  background-repeat: no-repeat;
}
.scoreboard ul {
  list-style-type: none;
  padding-left: 0;
  margin: 5px 0;
}
.raven {
  background-color: #442e56;
  color: #ffffff;
  background-image: url('../icons/Raven2_150.png');
}
.edgar {
  background-color: #af969c;
  background-image: url('../icons/Edgar2_150.png');
}
.lenore {
  background-color: #a17a93;
  background-image: url('../icons/Lenore2_150.png');
}
.died {
  background-image: url('../icons/Skull.png');
  background-color: #bc6657;
}
aside {
  border-radius: 10px;
  height: 150px;
  max-height: 150px;
  width: 315px;
  max-width: 315px;
}
aside span {
  display: block;
  font-size: 10px;
  line-height: 12px;
}
.btn {
  border-width: .0833rem;
  border-style: solid;
  color: #fff;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 13px;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  text-shadow: none;
  padding: 5px 15px;
  margin: 8px 8px 8px 0;
  outline: none;
  display: inline-block;
  white-space: nowrap;
  z-index: 1;
  -webkit-appearance: button;
  border-color: #a17a93;
  background-color: #150811;
}
.btn:hover {
  border-color: #713d34;
}
